.el-pro-operation {
  position: relative;
  display: flex;
}
.el-pro-operation__btn {
  display: inline-block;
}
.el-pro-operation__arrow {
  padding: 5px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}