.el-pro-query {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 2px;
  padding: 24px;
}
.el-pro-query__form {
  display: block;
}
.el-pro-query .el-pro-form__item {
  float: left;
}
.el-pro-query__btn {
  text-align: right;
}
.el-pro-query__more {
  display: inline-flex;
  font-size: 14px;
  gap: 4px;
  cursor: pointer;
  align-items: center;
  margin-left: 8px;
}
.el-pro-query__arrow {
  transition: all 0.3s ease 0s;
}
.el-pro-query__arrow--fan {
  margin-inline-start: 0.5em;
  transform: rotate(0.5turn);
}
.el-pro-query__form.el-form--label-top + .el-pro-query__btn {
  padding-top: 32px;
}